@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-bg: #ffffff;
  --color-brand-text: #000000;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text font-sans antialiased;
  }
}
